/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.login-body {
    background-color: #031634;
    background: -webkit-linear-gradient(to right, #0b4d88, #86A8E7, #0a3861);
    background: linear-gradient(to right, #031634, #86A8E7, #052542);
 /* Latar abu-abu muda yang bersih */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Utama */
/* NEW SPLIT LAYOUT */
.container-wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 900px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* LEFT IMAGE */
.image-container {
    flex: 1;
    background-color: #f0f0f0;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT LOGIN FORM */
.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.login-container form {
    width: 80%;
    max-width: 350px;
    text-align: left;
}

/* Responsive (buat HP/tablet) */
@media (max-width: 768px) {
    .container-wrapper {
        flex-direction: column;
        height: auto;
    }

    .image-container {
        height: 200px;
    }

    .login-container {
        padding: 30px 0;
    }
}
